<section>
    <h1 class="text-center text-main my-2">forgot password</h1>
    @if(step==1){
    <form [formGroup]="verifyEmail" class="bg-main-light shadow rounded-4 p-3" (ngSubmit)="ForgotPassword()">
        <div>
            <label for="email">Email</label>
            <input formControlName="email" type="email" id="email" class="form-control">
        </div>
        <button [disabled]="verifyEmail.invalid" class="btn-main">Verify Email</button>
    </form>
    }
    @else if(step==2){
    <form [formGroup]="verifyCode" class="bg-main-light shadow rounded-4 p-3" (ngSubmit)="VerifyResetCode()">
        <div>
            <label for="resetCode">Code</label>
            <input formControlName="resetCode" type="text" id="resetCode" class="form-control">
        </div>
        <button [disabled]="verifyCode.invalid" class="btn-main">Verify Code</button>
    </form>
    }

    @else if(step==3){
    <form [formGroup]="resetPassword" class="bg-main-light shadow rounded-4 p-3" (ngSubmit)="ResetPassword()">
        <div>
            <label for="reEmail">Email</label>
            <input formControlName="email" type="email" id="reEmail" class="form-control" readonly>
        </div>
        <div>
            <label for="resetPassword">Password</label>
            <input formControlName="newPassword" type="password" id="resetPassword" class="form-control">
        </div>
        <button [disabled]="resetPassword.invalid" class="btn-main">New Password</button>
    </form>
    }
</section>