@if(product){
<section>
    <div class="row align-items-center">
        <h1 class="text-center text-main my-2"></h1>
        <div class="col-md-3">
            <img [src]="product.imageCover" [alt]="product.title" class="w-100">
        </div>

        <div class="col-md-9">
            <h1 class="">{{product.title}}</h1>
            <p class="text-muted">{{product.description}}</p>
            <h3 class="h6">{{product.category.name}}</h3>

            <div class="d-flex justify-content-between align-items-center">
                <span>{{product.price}} EGP</span>
                <div>
                    @for (item of [1,2,3,4,5].slice(0,product.ratingsAverage); track $index) {
                    <span> <i class=" fas  fa-star rating-color"></i> </span>

                    }
                    @if(product.ratingsAverage%1!==0){
                    <i class="fas fa-star-half-alt rating-color"></i>

                    }
                    <span class="text-muted">{{product.ratingsAverage}}</span>
                </div>
            </div>
            <div> <button class="btn-main w-100">Add To Cart</button></div>

        </div>
    </div>
</section>
}